{% extends "layout.html" %}

{% block content %}
<h3>Add Contact</h3>
<form method="POST">
    <input class="form-control mb-2" name="first_name" placeholder="First Name" required>
    <input class="form-control mb-2" name="last_name" placeholder="Last Name" required>
    <input class="form-control mb-2" name="phone" placeholder="Phone" required>
    <input class="form-control mb-2" name="email" placeholder="Email" required>
    <input class="form-control mb-2" name="address" placeholder="Address" required>
    <input class="form-control mb-2" name="linkedin" placeholder="LinkedIn Profile URL">
    <button class="btn btn-success">Add</button>
</form>
{% endblock %}