{% extends "layout.html" %}

{% block content %}
<h3>Edit Contact</h3>
<form method="POST">
    <input class="form-control mb-2" name="first_name" value="{{ contact.first_name }}" required>
    <input class="form-control mb-2" name="last_name" value="{{ contact.last_name }}" required>
    <input class="form-control mb-2" name="phone" value="{{ contact.phone }}" required>
    <input class="form-control mb-2" name="email" value="{{ contact.email }}" required>
    <input class="form-control mb-2" name="address" value="{{ contact.address }}" required>
    <input class="form-control mb-2" name="linkedin" value="{{ contact.linkedin }}">
    <button class="btn btn-warning">Update</button>
</form>
{% endblock %}